h1 {
    text-align: center;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.results {
    margin: 50px 700px 0px 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

